@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

*{
    box-sizing: border-box;
    
}
 .border{
    border-radius: 20px !important;
  padding: 20px;
  width: 200px;
  height: 150px;

 }
 .container{
    max-width: 1440px !important;
 }


